DATABASE_URL=
NODE_ENV=
PORT=
JWT_SECRET="secret"
JWT_ACCESS_EXPIRATION_MINUTES=50
JWT_REFRESH_EXPIRATION_DAYS=3
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:7000
JWT_ACTIVATION_EXPIRATION_MINUTES=50
ADMIN_EMAIL=
ADMIN_EMAIL_TOKEN=
SEED_PASSWORD=
